// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #1A1A1A;
$azul: #4796D1;
$morado: #594697;
$blanco: #F2F2F2;
$amarillo: #FEBD1B;
$azulOscuro: #22425C;
$magenta: red;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900

